<div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">List Of All Users</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>ID</th>
                  <th>First_Name</th>
                  <th>Last_Name</th>
                  <th>Email</th>
                  <th>Mobile_no.</th>
                  <th>Email Verification</th>
                  <th>Active Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let users of userlist">
                  <td>{{ users.id }}</td>
                  <td>{{ users.first_name}}</td>
                  <td>{{ users.last_name }}</td>
                  <td>{{ users.email }}</td>
                  <td>{{ users.mobile_no }}</td>
                  <td>{{ users.email_verified_at }}</td>
                  <td>
                    <label>
                      <input type="checkbox" class="flat-red">
                    </label>
                  </td>
                </tr>
                </tbody>
              </table>
              {{ id }}
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
  
