<div class="wrapper">
  <content-top></content-top>
  <du-menu></du-menu>
  <div class="content-wrapper">
    <section class="content-header">
      <section class="content">
          <router-outlet></router-outlet>
      </section>
    </section>
  </div>
  <app-footer></app-footer>
  <app-right-side-bar></app-right-side-bar>
</div>