<div class="error-pagewrap">
		<div class="error-page-int">
			<div class="text-center custom-login">
				<h3>Merchant Registration</h3>
				<p>BA(Booking Appointment Services)</p>
			</div>
			<div class="content-error">
				<div class="hpanel">
                    <div class="panel-body">
                        <form [formGroup]="form" action="#" id="loginForm" (ngSubmit)="onSubmit()" novalidate>
                            <div class="row">
                                <div class="form-group col-lg-12">
                                    <label>First Name</label>
                                    <input class="form-control" formControlName="first_name">
                                    <div *ngIf="firstname.touched && firstname.invalid" class="alert alert-danger">First_name is required</div>
                                   <div *ngFor="let error of errors | keyvalue">
                                    <div class="alert alert-danger">{{ error.key}}:{{ error.value }}</div>
                                   </div>
                                   
                                </div>
                                <div class="form-group col-lg-12">
                                    <label>Last Name</label>
                                    <input class="form-control" formControlName="last_name">
                                    <div *ngIf="form.get('last_name').touched && form.get('last_name').invalid" class="alert alert-danger">last_name is required</div>
                                </div>
                                   <div class="form-group col-lg-6">
                                    <label>Email Address</label>
                                    <input class="form-control" type="email" formControlName="email">
                                    <div *ngFor="let error of errors | keyvalue">
                                      <div *ngIf="error.key===email" class="alert alert-danger">{{ error.key}}:{{ error.value }}</div>
                                   </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Mobile no.</label>
                                   <international-phone-number formControlName="mobile_no" placeholder="Enter phone number" [maxlength]="20" [defaultCountry]="'in'" [required]="true" [allowedCountries]="['in', 'ca', 'us']"></international-phone-number>
                                    <div *ngFor="let error of errors | keyvalue">
                                      <div *ngIf="error.key===mobile_no" class="alert alert-danger">{{ error.key}}:{{ error.value }}</div>
                                   </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Password</label>
                                    <input type="password" class="form-control" formControlName="password">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" formControlName="confirm_password">
                                    <div *ngFor="let error of errors | keyvalue">
                                   <div *ngIf="error.key===confirm_password" class="alert alert-danger">{{ error.key}}:{{ error.value }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" [disabled]="!form.valid" class="btn btn-success loginbtn">Register</button>
                                <button class="btn btn-default">Cancel</button>
                            </div>
                            
                        </form>
                    </div>
                </div>
			</div>
			<div class="text-center login-footer">
				<p>Copyright © 2019. All rights reserved.</p>
			</div>
		</div>   
    </div>